VITE_API_BASE_URL=/api/v1
VITE_TENANT_DEFAULT_CLIENT=desarrollo
VITE_DEVEXTREME_LICENSE=ewogICJmb3JtYXQiOiAxLAogICJjdXN0b21lcklkIjogIjk1YTAzMDU4LTlhYzQtNDBhMy1hNGQ0LTczOTk5NDEyMmI5MyIsCiAgIm1heFZlcnNpb25BbGxvd2VkIjogMjUyCn0=.r8bRzvRr1d7VFbD9MCidj26nZ9UJp+myok//3KAplnAfSi119RBPCQ6Gw5dZI0DHpDrsSFd8F4PMeel7HxiDRXyxScOHmEYtmM49nbvIeM50PqjCAUXWDGoFT7XXFOHzHuOXZQ==

