APP_NAME=PaqSuite-IA-PedidosWeb
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

FRONTEND_URL=http://localhost:3000
API_PREFIX=api/v1

DB_CONNECTION=sqlsrv
DB_HOST=127.0.0.1
DB_PORT=1433
DB_DATABASE=pq_pedidosweb_demo
DB_USERNAME=sa
DB_PASSWORD=

TENANT_HEADER_NAME=X-Paq-Cliente
TENANT_DEFAULT_CLIENT=demo

SANCTUM_STATEFUL_DOMAINS=localhost:3000
SESSION_DOMAIN=localhost

VITE_APP_NAME=PaqSuite-IA-PedidosWeb
VITE_APP_VERSION=1.1.0
VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_DEVEXTREME_LICENSE=
